body {
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  margin: 0;
  background-attachment: fixed;
  font-family: "Montserrat";
}

.background-clip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}

a {
  color: rgb(49, 138, 141);
  font-weight: 600;
}

.weather-app {
  background: rgb(128, 223, 227, 0.4);
  opacity: 1;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 3px 3px 12px 0 rgba(42, 90, 91, 0.929);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #dbd8e3;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #eeeeee;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 0 #286d8a;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: rgb(44, 127, 130);
  padding: 15px 30px;
  border: none;
  box-shadow: 0px 4px 8px 0 #286d8a;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

.search-form-button:hover {
  background-color: rgb(33, 106, 109);
  box-shadow: 0px 4px 8px 0 #286d8a;
  cursor: pointer;
  transition: 0.4ms, ease-in-out;
  transform: scale(1.02);
}

main {
  padding: 22px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  letter-spacing: 0.6px;
  font-size: 17px;
  line-height: 20px;
  margin-top: 10px;
  color: rgba(39, 33, 66, 0.6);
}
.weather-app-details strong {
  letter-spacing: 0.6px;
  color: rgb(33, 106, 109);
  font-weight: 660;
}

h2 {
  color: rgba(39, 33, 66, 0.6);
  font-size: 14px;
  letter-spacing: 0.8px;
  font-weight: 580;
  margin-top: 20px;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 90px;
  height: 90px;
}

.weather-app-temperature {
  font-size: 88px;
  margin-left: 10px;
  line-height: 88px;
  font-weight: 700;
}

.weather-app-unit {
  margin-top: 9px;
  margin-left: 3px;
  font-size: 24px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  width: 84px;
  height: 84px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #286d8a;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  border-top: 1px solid #dbd8e3;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba (0, 0, 0, 0.8);
}
